body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    max-width: 100%;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    header, main, footer {
        padding: 10px;
    }

    h1, h2 {
        font-size: 1.5em;
    }
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    margin-bottom: 50px; /* Added margin to prevent footer overlap */
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h1, h2 {
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  th,
  td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }